<h2>SoundClound Sync</h2>


{{input value=query type='text'}}
<span class="scp-search-button" {{action 'searchClicked'}}>Search</span>


{{components/audio-player audio=outAudioItem}}

<div class="scp-search-results-list">
  {{#each items as |item|}}
    <div class="scp-search-result-item" {{action 'itemClicked' item}}>
      <div class="scp-search-result-item-artwork" style="background-image: url('{{{item.artwork_url}}}')" ></div>
      <div class="scp-search-result-item-title">{{item.title}}</div>
    </div>
  {{/each}}
</div>
