<div class="hp--nav-bar">
  {{!-- LOGO --}}
  {{#mdl-button class='hp--logo' isColored=true isRaised=true isAccent=false}}e{{/mdl-button}}

  {{!-- PLAYER CONTROLS --}}
  <div class="hp--player-controls">
    {{mdl-icon icon='fast_rewind' class="hp--player-button"}}
    {{mdl-icon icon='play_arrow' class="hp--player-button"}}
    {{mdl-icon icon='fast_forward' class="hp--player-button"}}
  </div>

  {{!-- PLAYER BAR --}}
  <div class="hp--player-bar">
    <div class="hp--player-title">{{songTitle}}</div>
    {{!--<div class="hp--player-subtitle">Ain't wasting time no more</div>--}}


    {{components/audio-player audio=audio}}
  </div>

  {{mdl-textfield
    isExpandable=true
    label='Search'
    expandableIcon='search'
    value=searchValue
    class='hp--search-input'
    }}

  {{create-room createClicked='createRoom'}}

  {{!-- AVATAR --}}
  <div>
    <img class="hp--avatar" src="{{{displayableUserImage}}}"/>
  </div>
</div>

{{!-- CONTENT AREA --}}
<div class="hp--content-area">
  {{!-- QUEUE --}}
  <div class="hp--queue mdl-color--grey-900">
    <div class="hp--queue-title">Queue</div>

    {{#each songQueue as |item|}}
      {{search-item item=item class="hp--search-item" playClicked='playClicked' addClicked='addClicked'}}

    {{else}}
      <div>Add items to your queue</div>
    {{/each}}
  </div>

  {{!-- SEARCH RESULTS --}}
  <div class="hp--search-results">
    {{#if displayableRoomName}}
      <div>In Room : {{displayableRoomName}}</div>
    {{/if}}


    <div class="hp--search-results-title">Results for Sublime</div>

    {{#each items as |item|}}
      {{search-item item=item class="hp--search-item" playClicked='playClicked' addClicked='addClicked'}}
    {{else}}
      <div>No items.</div>
    {{/each}}
  </div>
</div>



